<section class="container is-full">
  <div class="columns is-multiline is-centered">
    {% assign sorted_papers = site.papers | sort: 'end' | reverse %}
    {% for paper in sorted_papers %}
    <div class="column is-full">
        <div class="card is-horizontal columns is-vcentered">
          <div class="card-image column is-three-fifths">
            {% if paper.video != "" %}
            <iframe width="100%"
              src="{{ paper.video }}">
            </iframe>
            {% else %}
            <figure class="image is-2by1">
              <img src="{{ paper.image }}" alt="{{site.error_image}}">
            </figure>
            {% endif %}
          </div>
          <div class="card-content column is-two-fifths">
            <div class="content">
              <h3 class="title is-3">{{ paper.title }}</h3>
              <a href="{{paper.conference_link}}">{{ paper.conference }}</a>
              <div class="markdown">
                {{ paper.content }}
              </div>
              <p class="buttons">
                <form action="{{ paper.url | relative_url }}">
                  <input class="button is-link is-normal" type="submit" value="Detail Content" />
                </form>
                {% if {{ paper.paper_link }} %}
                <form action="{{ paper.paper_link}}">
                  <input class="button is-primary is-normal" type="submit" value="Publication Link" />
                </form>
                {% else %}
                <input class="button is-primary is-normal disabled" value="Publication Link" />
                {% endif %}
              </p>
              {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
              <h6 class="subtitle is-5">{{ paper.date | {{ page.date | date: date_format }}</h6>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</section>
