<section class="container">
    <div class="columns is-centered features">
      {% assign sorted_projects = site.projects | sort: 'date' | reverse  %}
      {% for project in sorted_projects %}
      <div class="column is-four-fifths ">
          <div class="card-stacked">
            <div class="card-image">
              <figure class="image is-1by1">
                <img src="{{ background.image }}" alt="butterfly image">
              </figure>
            </div>
            <div class="card-content" data-target="modal-card1">
              <div class="content">
                <h3>{{ project.title }}</h3>
                <h5>{{ project.conference }}</h5>

                <p class="markdown">{{ project.content}}</p>
                {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                <h6 class="subtitle">{{ project.date | {{ page.date | date: date_format }}</h6>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </section>


  <!-- <div class="card-stacked">
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item has-text-left">
          <h1>Hello</h1>
        </div>
      </footer>
  </div> -->
