<section class="container">
    Even though having conducted multiple projects, here are some highlighted ones that I take charges most of the work in both researching and developing.
    <div class="columns is multiline is-centered features">
      {% for project in site.projects %}
      <div class="column is-one-third">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ project.image }}" alt="No image">
              </figure>
            </div>
            <div class="card-content modal-button" data-target="{{project.title}}">
              <div class="content">
                <h3 class="title is-3">{{ project.title }}</h3>
                <div class="markdown">{{ project.content}}</div>
                {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                {% if project.end == "Present" %}
                <h6 class="subtitle">{{ project.begin | {{ page.date | date: date_format }} - {{ project.end }}</h6>
                {% else %}
                <h6 class="subtitle">{{ project.begin | {{ page.date | date: date_format }} - {{ project.end | {{ page.date | date: date_format }}</h6>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
      <div id="{{project.title}}" class="modal modal-fx-3dSlit">
        <div class="modal-project"></div>
        <div class="modal-content is-full">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ project.image }}" alt="{{ site.error_image }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2 class="title is-2">{{ project.title }}</h2>
                {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                {% if project.end == "Present" %}
                <h6 class="subtitle">{{ project.begin | {{ page.date | date: date_format }} - {{ project.end }}</h6>
                {% else %}
                <h6 class="subtitle">{{ project.begin | {{ page.date | date: date_format }} - {{ project.end | {{ page.date | date: date_format }}</h6>
                {% endif %}
                <p>{{ project.content}}</p>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      {% endfor %}
    </div>
</section>
