<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>
    <section class="hero is-dark is-halfheight ">

        <div class="hero-head">
            {% include header.html %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
              <div class="columns is-multiline is-vcentered is-centered">
                <div class="column is-half">
                  <h1 class="title is-1">{{ page.title }}</h1>
                  <h4 class="title is-4"><a href="{{ page.conference_link }}">{{ page.conference }}</a></h4>
                  {% if page.video != "" %}
                  <iframe width="100%" height="60%"
                    src="{{ page.video }}">
                  </iframe>
                  {% else %}
                  <figure class="image is-2by1">
                    <img src="{{ page.image }}" alt="{{site.error_image}}">
                  </figure>
                  {% endif %}
                  {%- assign date_format = site.bootstrap.date_format | default: "%b %-d, %Y" -%}
                  <p class="subtitle">{{ page.date | date: date_format }}</p>
                </div>
              </div>
              <div class="column is-full is-centered">
                <div class="post-content">
                  {{ content }}
                </div>
              </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script src="../assets/js/wild.js"></script>
          {% include footer.html %}
  </body>
</html>
